<div (click)="$event.stopPropagation()" id="bg"></div>

<div id="box" class="mx-auto container-fluid">
    <div style="background-color: black;" class="row py-3">
        <div class="col d-flex justify-content-center">
            <i [routerLink]="['/signin']" class="fas fa-arrow-left back cursor-pointer"></i>
            <span [routerLink]="['']" style="font-family: 'Big Shoulders Stencil Text', cursive; font-size: 1.5rem; color: white; cursor: pointer;">Game Hub</span>
        </div>
    </div>
    <div class="row bg-color">
        <div class="col d-flex justify-content-center">
            <img class="py-4" id="logo" width="80" src="assets/logo.png">
        </div>
    </div>
    <form>
        <div class="row mt-4 mx-4">
            <div class="col">
                <span *ngIf="!errorText" class="help-text">Verify your email address</span>
                <span *ngIf="errorText" class="help-text error-color">{{errorText}}</span>
            </div>
        </div>
        <div class="row mx-4">
            <div class="col d-flex justify-content-center">
                <input [formControl]="verificationPin" class="form-control mt-3" type="number" placeholder="Verification Pin" autofocus>
            </div>
        </div>
        <div class="row mx-4 mt-4">
            <div class="col d-flex justify-content-center">
                <button [disabled]="verificationPin.errors" [class.enabled-btn]="!verificationPin.errors" (click)="verify()" type="button" class="btn bg-color auth-btn mt-4">Verify</button>
            </div>
        </div>
    </form>

    <div class="row mx-4 mt-3">
        <div class="col">
            <span *ngIf="!sent" (click)="sendEmail()" class="help-text link-text cursor-pointer">Send another email</span>
            <span *ngIf="sent" class="help-text">Email Sent</span>
        </div>
    </div>
</div>